<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>공구 상세</title>
</head>

<body>
    <h1>{{ gonggu.title }}</h1>
    <p>제품명: {{ gonggu.product_name }}</p>
    <p>작성자: {{ gonggu.author_nickname }}</p>
    <img src="{{ gonggu.image_url }}">
    <p>카테고리: {{ gonggu.category }}</p>
    <p>마감일: {{ gonggu.deadline }}</p>
    <p>마감 수량: {{ gonggu.max_quantity }}</p>

    <p>
        주문 단위:
        {{ gonggu.unit_amount }}{{ gonggu.unit_type }}
    </p>

    <p>가격: {{ gonggu.unit_price }}원</p>
    <p>상품 링크:
    <a href="{{ gonggu.product_link }}" target="_blank">
        상품 보러가기
    </a>
    </p>

    <p>오픈채팅:
        <a href="{{ gonggu.kakao_link }}" target="_blank">
            오픈카톡 참여하기
        </a>
    </p>
    <div>
        <label for="quantity">참여 수량</label>
        <input
            type="number"
            id="quantity"
            name="quantity"
            min="1"
            value="1"
        >
    </div>

    <div>
        <p>
            총 금액:
            <span id="total-price">{{ gonggu.unit_price }}</span>원
        </p>
    </div>

    <button type="button" id="join-button">
        공구 참여하기
    </button>

    <p>상세설명: {{ gonggu.description }}</p>

    <p>상태: {{ gonggu.status }}</p>
</body>
<script>
    const joinButton = document.getElementById('join-button');
    const quantityInput = document.getElementById('quantity');
    const totalPrice = document.getElementById('total-price');

    const unitPrice = {{ gonggu.unit_price }};
    quantityInput.addEventListener('input', function () {
        const quantity = quantityInput.value;

        totalPrice.textContent = (unitPrice * quantity).toLocaleString();
    });

    const gongguId = "{{ gonggu_id }}";
    
    joinButton.addEventListener('click', function () {
        const quantity = quantityInput.value;
        const accessToken = localStorage.getItem('accessToken');

        fetch(`/api/gonggu/${gongguId}/participants`, 
        {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + accessToken,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                quantity: Number(quantity)
            })
        })
        .then(async response => {
            const data = await response.json();

            if (response.ok) {
                alert(data.message);
                window.location.href = data.kakao_link;

            } else {
                alert('공구 참여에 실패했습니다: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('공구 참여 중 오류가 발생했습니다.');
        });
    });   
</script>
</html>